# EDA: Diagnosing Diabetes

In this project, you'll imagine you are a data scientist interested in exploring data that looks at how certain diagnostic factors affect the diabetes outcome of women patients.

You will use your EDA skills to help inspect, clean, and validate the data.

**Note**: This [dataset](https://www.kaggle.com/uciml/pima-indians-diabetes-database) is from the National Institute of Diabetes and Digestive and Kidney Diseases. It contains the following columns:

- `Pregnancies`: Number of times pregnant
- `Glucose`: Plasma glucose concentration per 2 hours in an oral glucose tolerance test
- `BloodPressure`: Diastolic blood pressure
- `SkinThickness`: Triceps skinfold thickness
- `Insulin`: 2-Hour serum insulin
- `BMI`: Body mass index
- `DiabetesPedigreeFunction`: Diabetes pedigree function
- `Age`: Age (years)
- `Outcome`: Class variable (0 or 1)

Let's get started!

## Initial Inspection

1. First, familiarize yourself with the dataset [here](https://www.kaggle.com/uciml/pima-indians-diabetes-database).

   Look at each of the nine columns in the documentation.
   
   What do you expect each data type to be?

Expected data type for each column:

- `Pregnancies`: 
- `Glucose`: 
- `BloodPressure`: 
- `SkinThickness`: 
- `Insulin`: 
- `BMI`: 
- `DiabetesPedigreeFunction`: 
- `Age`: 
- `Outcome`:

2. Next, let's load in the diabetes data to start exploring.

   Load the data in a variable called `diabetes_data` and print the first few rows.
   
   **Note**: The data is stored in a file called `diabetes.csv`.

In [1]:
import pandas as pd
import numpy as np

# load in data
df = pd.read_csv('diabetes.csv')

3. How many columns (features) does the data contain?

In [2]:
# print number of columns
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

4. How many rows (observations) does the data contain?

In [3]:
# print number of rows
len(df.index)

768

## Further Inspection

5. Let's inspect `diabetes_data` further.

   Do any of the columns in the data contain null (missing) values?

In [4]:
# find whether columns contain null values
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

6. If you answered no to the question above, not so fast!

   While it's technically true that none of the columns contain null values, that doesn't necessarily mean that the data isn't missing any values.
   
   When exploring data, you should always question your assumptions and try to dig deeper.
   
   To investigate further, calculate summary statistics on `diabetes_data` using the `.describe()` method.

In [5]:
# perform summary statistics
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

7. Looking at the summary statistics, do you notice anything odd about the following columns?

   - `Glucose`
   - `BloodPressure`
   - `SkinThickness`
   - `Insulin`
   - `BMI`

**Your response to question 7**: Minimum values for these columns are 0. 0 values do not make any sense in the context of these features.

8. Do you spot any other outliers in the data?

**Your response to question 8**: The maximum number of pregnancies are 17, which is abnormally high. The maximum insulin value also looks abnormally high

9. Let's see if we can get a more accurate view of the missing values in the data.

   Use the following code to replace the instances of `0` with `NaN` in the five columns mentioned:
   
   ```py
   diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, np.NaN)
   ```

In [11]:
# replace instances of 0 with NaN
df = df.replace(0, np.nan)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23,0

10. Next, check for missing (null) values in all of the columns just like you did in Step 5.

    Now how many missing values are there?

In [12]:
# find whether columns contain null values after replacements are made
df.isna().sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

11. Let's take a closer look at these rows to get a better idea of _why_ some data might be missing.

    Print out all the rows that contain missing (null) values.

In [18]:
# print rows with missing values
df[df.isna().any(axis=1)].head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116.0,74.0,NaN,NaN,25.6,0.201,30,0
7,10.0,115.0,NaN,NaN,NaN,35.3,0.134,29,0
9,8.0,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4.0,110.0,92.0,NaN,NaN,37.6,0.191,30,0
11,10.0,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10.0,139.0,80.0,NaN,NaN,27.1,1.441,57,0
15,7.0,100.0,NaN,NaN,NaN,30.0,0.484,32,1
16,NaN,118.0,84.0,47.0,230.0,45.8,0.551,31,1
17,7.0,107.0,74.0,NaN,NaN,29.6,0.254,31,1
21,8.0,99.0,84.0,NaN,NaN,35.4,0.388,50,0
22,7.0,196.0,90.0,NaN,NaN,39.8,0.451,41,1
23,9.0,119.0,80.0,35.0,NaN,29.0,0.263,29,1
26,7.0,147.0,76.0,NaN,NaN,39.4,0.257,43,1
29,5.0,117.0,92.0,NaN,NaN,34.1,0.337,38,0
30,5.0,109.0,75.0,26.0,NaN,36.0,0.546,60,0
33,6.0,92.0,92.0,NaN,NaN,19.9,0.188,28,0

12. Go through the rows with missing data. Do you notice any patterns or overlaps between the missing data?

**Your response to question 12**: Insulin levels are missing for anyone that has been pregnant before

13. Next, take a closer look at the data types of each column in `diabetes_data`.

    Does the result match what you would expect?

In [17]:
# print data types using .info() method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               657 non-null    float64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(7), int64(1), object(1)
memory usage: 54.1+ KB

14. To figure out why the `Outcome` column is of type `object` (string) instead of type `int64`, print out the unique values in the `Outcome` column.

In [19]:
# print unique values of Outcome column
print(df.Outcome.unique())

['1' '0' 'O']

15. How might you resolve this issue?

**Your response to question 15**: This column looks like it is supposed to be dummy variables. The 'O' values should be replaced by 0's

## Next Steps:

16. Congratulations! In this project, you saw how EDA can help with the initial data inspection and cleaning process. This is an important step as it helps to keep your datasets clean and reliable.

    Here are some ways you might extend this project if you'd like:
    - Use `.value_counts()` to more fully explore the values in each column.
    - Investigate other outliers in the data that may be easily overlooked.
    - Instead of changing the `0` values in the five columns to `NaN`, try replacing the values with the median or mean of each column.

In [38]:
df['Outcome'] = df['Outcome'].replace('O', 0)
df['Outcome'] = df['Outcome'].astype('float64')

value_counts = {}

for count, vals in enumerate(df.columns):
    value_counts[vals] = df[vals].value_counts()
    
value_counts

{'Pregnancies': 1.0     135
 2.0     103
 3.0      75
 4.0      68
 5.0      57
 6.0      50
 7.0      45
 8.0      38
 9.0      28
 10.0     24
 11.0     11
 13.0     10
 12.0      9
 14.0      2
 17.0      1
 15.0      1
 Name: Pregnancies, dtype: int64,
 'Glucose': 99.0     17
 100.0    17
 129.0    14
 106.0    14
 111.0    14
          ..
 182.0     1
 169.0     1
 160.0     1
 62.0      1
 149.0     1
 Name: Glucose, Length: 135, dtype: int64,
 'BloodPressure': 70.0     57
 74.0     52
 78.0     45
 68.0     45
 72.0     44
 64.0     43
 80.0     40
 76.0     39
 60.0     37
 62.0     34
 82.0     30
 66.0     30
 88.0     25
 84.0     23
 90.0     22
 58.0     21
 86.0     21
 50.0     13
 56.0     12
 54.0     11
 52.0     11
 92.0      8
 75.0      8
 65.0      7
 94.0      6
 85.0      6
 48.0      5
 96.0      4
 44.0      4
 110.0     3
 106.0     3
 98.0      3
 100.0     3
 108.0     2
 55.0      2
 30.0      2
 104.0     2
 46.0      2
 122.0     1
 95.0      1
 102.0     1
 61.0      1
 40.0      1
 24.0      1
 38.0      1
 114.0     1
 Name: BloodPressure, dtype: int64,
 'SkinThickness': 32.0    31
 30.0    27
 27.0    23
 23.0    22
 33.0    20
 28.0    20
 18.0    20
 31.0    19
 19.0    18
 39.0    18
 29.0    17
 25.0    16
 26.0    16
 22.0    16
 37.0    16
 40.0    16
 35.0    15
 41.0    15
 36.0    14
 15.0    14
 17.0    14
 20.0    13
 24.0    12
 42.0    11
 13.0    11
 21.0    10
 34.0     8
 46.0     8
 38.0     7
 12.0     7
 11.0     6
 16.0     6
 45.0     6
 43.0     6
 14.0     6
 10.0     5
 44.0     5
 48.0     4
 47.0     4
 50.0     3
 49.0     3
 8.0      2
 54.0     2
 7.0      2
 52.0     2
 63.0     1
 56.0     1
 51.0     1
 60.0     1
 99.0     1
 Name: SkinThickness, dtype: int64,
 'Insulin': 105.0    11
 130.0     9
 140.0     9
 120.0     8
 94.0      7
          ..
 272.0     1
 41.0      1
 25.0      1
 600.0     1
 59.0      1
 Name: Insulin, Length: 185, dtype: int64,
 'BMI': 32.0    13
 31.6    12
 31.2    12
 33.3    10
 32.4    10
         ..
 32.1     1
 52.9     1
 31.3     1
 45.7     1
 41.8     1
 Name: BMI, Length: 247, dtype: int64,
 'DiabetesPedigreeFunction': 0.254    6
 0.258    6
 0.259    5
 0.238    5
 0.207    5
         ..
 0.886    1
 0.804    1
 1.251    1
 0.382    1
 0.375    1
 Name: DiabetesPedigreeFunction, Length: 517, dtype: int64,
 'Age': 22    72
 21    63
 25    48
 24    46
 23    38
 28    35
 26    33
 27    32
 29    29
 31    24
 41    22
 30    21
 37    19
 42    18
 33    17
 32    16
 36    16
 38    16
 45    15
 34    14
 40    13
 43    13
 46    13
 39    12
 35    10
 50     8
 44     8
 51     8
 52     8
 58     7
 47     6
 54     6
 57     5
 60     5
 48     5
 49     5
 53     5
 55     4
 62     4
 63     4
 66     4
 56     3
 59     3
 65     3
 67     3
 61     2
 69     2
 72     1
 64     1
 68     1
 70     1
 81     1
 Name: Age, dtype: int64,
 'Outcome': 0.0    500
 1.0    268
 Name: Outcome, dtype: int64}